@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 99.1vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.main-container {
    width: 100%;
    height: 2000px;
    background-color: #090A22;
    display: flex;
    justify-content: center;
}

.sub-container {
    width: 70%;
    height: 100%;
    background-color: rgb(87, 141, 141);
}

.nav-bar {
    width: 100%;
    height: 70px;
    background-color: #06061A;
    display: flex;
    justify-content: space-between;
}

.nav-bar__logo {
    width: 10%;
    height: 100%;
    /* background-color: rgb(25, 73, 73); */
    font-size: 45px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.nav-bar__logo > div > span {
    color: red;
}

.nav-bar__items {
    width: 40%;
    height: 100%;
    /* background-color: rgb(25, 73, 73); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-bar__item {
    width: 22%;
    height: 50%;
    /* background-color: yellow; */
    font-size: 20px;
    cursor: pointer;
}

.nav-bar__item:hover {
    background-color: red;
    border-radius: 10px;
    height: 70%;
}

.nav-bar__icons {
    width: 15%;
    height: 100%;
    /* background-color: rgb(25, 73, 73); */
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.nav-bar__icon {
    margin: auto;
    cursor: pointer;
}

.nav-bar__icon:hover {
    font-size: 35px;
    color: red;
}

.menu-bar {
    width: 100%;
    height: 60px;
    background-color: #393E40;
    text-align: right;
}

.menu-bar > .button {
    padding-top: 10px;
    padding-right: 10px;
}

.menu-bar > .button > button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding-right: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    appearance: none;
    border: 0;
    cursor: pointer;
}






